<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE manifest [
    <!ENTITY CATEGORY_NAME "org.afree.chart.demo">
]>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movetothebit.newholland.android"
    android:versionCode="10"
    android:versionName="2.0" 
    android:installLocation="preferExternal">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="false" >
       

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            class="com.movetothebit.newholland.android.ui.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.LoginActivity"
            class="com.movetothebit.newholland.android.ui.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
       
        <activity
            android:name=".ui.FormActivity"
            class="com.movetothebit.newholland.android.ui.FormActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.DetailActivity"
            class="com.movetothebit.newholland.android.ui.DetailActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.ListInscriptionsActivity"
            class="com.movetothebit.newholland.android.ui.ListInscriptionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HistoricActivity"
            class="com.movetothebit.newholland.android.ui.HistoricActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
      
        <activity
            android:name=".ui.DataActivity"
            class="com.movetothebit.newholland.android.ui.DataActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
    </application>

</manifest>